body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0px 20px 0px 40px;
  background-color: #385a8d;
  background-image: url("./routes/image/backgroundlogin.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
body img {
  max-width: 100%;
}
