@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");

.familyForm {
  position: relative;
  left: 50px;
  top: 0px;
  background-image: url("../image/familyform.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}
.formLabel {
  color: #4a154c;
  font-family: "Great Vibes";
  font-size: 40px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgb(255, 255, 255);
  text-align: center;
}

.neons {
  text-align: center;
}

.neaonLabel {
  position: absolute;
  font-size: 70px;
  color: rgb(165, 221, 223);
  text-shadow: 0 0.2em 20px rgb(0, 0, 0), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgb(0, 0, 0), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgba(0, 0, 0, 1);
}
span {
  transform: scale(0.9);
  display: inline-block;
}

span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

span:last-child {
  animation: bopB 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
