*{
    margin: 0;
    padding: 0;
}
header,nav,main,section,footer,aside,article,div{
    display: block;
}
nav li{
    display: inline;
}
body{
    width: 100%;
    height: 100%;
}

#wrapper{
    width: 390px;
    height: 844px;
    background-color: #351336;
}

#circle{

width: 360px;
height: 271.02px;
left: 652.83px;
top: 7.79px;
background: #4A154C;
transform: rotate(165deg);
}


.loginlabel{
    position: absolute;
    top: 130px;
    left: 36px;
    width: 302px;
    height: 58px;
}
.familyimg{
    position: absolute;
    top: 386px;
    left:15px;
}
.loginlabel h1{
position: absolute;
top:330px;

    font-family:  'Squada One', cursive;
    font-weight: 700;
    font-size: 70px;
    line-height: 42px;
    color:#FFFFFF;
}
.loginlabel span{
    color:#ECB22F;
}
.loginlabel img{
    position: absolute;
    top:150px;
    left: 90px;
}
.loginlabel button{
    position: absolute;
width: 335px;
height: 48px;
top: 400px;
font-family: 'Segoe UI';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
background: #ECB22F;
border-radius: 10px;
}
