*{
    margin: 0;
    padding: 0;
}
header,nav,main,section,footer,aside,article,div{
    display: block;
}
nav li{
    display: inline;
}
body{
    width: 100%;
    height: 100%;
}

#wrapper{
    width: 390px;
    height: 844px;
    background-color: #351336;
}

#circle{

width: 360px;
height: 271.02px;
left: 652.83px;
top: 7.79px;
background: #4A154C;
transform: rotate(165deg);
}


.loginlabel{
    position: absolute;
    top: 130px;
    left: 36px;
    width: 302px;
    height: 58px;
}
.familyimg{
    position: absolute;
    top: 386px;
    left:15px;
}
.loginlabel h1{
    padding-left: 60px;
    font-family:  'Squada One', cursive;
    font-weight: 700;
    font-size: 60px;
    line-height: 42px;
    color:#FFFFFF;
}
.loginlabel span{
    color:#ECB22F;
}
.loginlabel p{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.whiteboard{
    position: absolute;
    top: 565px;
    width: 390px;
    height: 281px;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

#siginbutton{
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 335px;
    height: 60px;
    background: #28D38A;
    border-radius: 10px;
}
#loginbutton{
    margin-top: 90px;
    margin-left: 30px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    width: 335px;
    height: 60px;
    background: #7790F6;
    border-radius: 10px;
}
.whiteboard span{
    position: absolute;
    left: 190px;
    top: 115px;
    width: 18px;
    height: 21px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 21px;
    color: #000000;

}